export REGISTER=true
export EMAIL="foo@bar.com"
export REGCODE="ASDF-1"
export SLEMICROFILE="${HOME}/Downloads/SLE-Micro.aarch64-5.3.0-Default-GM.raw"
export VMFOLDER="${HOME}/VMs"
export VMNAME="SLEMicro"
export CPUS=4
export MEMORY=4096
export DISKSIZE=30
export SSHPUB="${HOME}/.ssh/id_rsa.pub"
export K3S=true
export K3s_VERSION="v1.25.8+k3s1"
export RANCHER=true
export RANCHERBOOTSTRAPPASSWORD="admin"
export COCKPIT=true
export PODMAN=true
export UPDATE=true