export REGISTER=true
export EMAIL="foo@bar.com"
export REGCODE="ASDF-1"
export SLEMICROFILE="${HOME}/Downloads/SLE-Micro.aarch64-5.3.0-Default-GM.raw"
export VMFOLDER="${HOME}/VMs"
export VMNAME="SLEMicro"
export CPUS=4
export MEMORY=4096
export DISKSIZE=30
export SSHPUB="${HOME}/.ssh/id_rsa.pub"
export KUBEVIP=true
export VIP="192.168.205.10"
export K3S=true
export INSTALL_K3S_VERSION="v1.25.8+k3s1"
# For the first node in an HA environment
# export INSTALL_K3S_EXEC="server --cluster-init --write-kubeconfig-mode=644 --tls-san=${VIP} --tls-san=${VIP}.sslip.io"
# For a single node
export INSTALL_K3S_EXEC="server --cluster-init --write-kubeconfig-mode=644"
# To add control plane nodes:
# export INSTALL_K3S_EXEC="server --server https://${VIP}:6443 --write-kubeconfig-mode=644"
# To add worker nodes:
# export INSTALL_K3S_EXEC="agent --server https://${VIP}:6443"
export K3S_TOKEN="foobar"
export RANCHER=true
export RANCHERBOOTSTRAPPASSWORD="admin"
export RANCHERBOOTSTRAPSKIP=true
export RANCHERFINALPASSWORD="adminadminadmin"
export ELEMENTAL=true
export COCKPIT=true
export PODMAN=true
export UPDATEANDREBOOT=true
