REGISTER=true
EMAIL="foo@bar.com"
REGCODE="ASDF-1"
SLEMICROFILE="${HOME}/Downloads/SLE-Micro.aarch64-5.3.0-Default-GM.raw"
VMFOLDER="${HOME}/VMs"
VMNAME="SLEMicro"
CPUS=4
MEMORY=4096
DISKSIZE=30
EXTRADISKS="30,10"
SSHPUB="${HOME}/.ssh/id_rsa.pub"
KUBEVIP=true
VIP="192.168.205.10"
CLUSTER="k3s"
INSTALL_CLUSTER_VERSION="v1.25.8+k3s1"
# For the first node in an HA environment
# INSTALL_CLUSTER_EXEC="server --cluster-init --write-kubeconfig-mode=644 --tls-san=${VIP} --tls-san=${VIP}.sslip.io"
# For a single node
INSTALL_CLUSTER_EXEC="server --cluster-init --write-kubeconfig-mode=644"
# To add control plane nodes:
# INSTALL_CLUSTER_EXEC="server --server https://${VIP}:6443 --write-kubeconfig-mode=644"
# To add worker nodes:
# INSTALL_CLUSTER_EXEC="agent --server https://${VIP}:6443"
CLUSTER_TOKEN="foobar"
RANCHERFLAVOR="latest"
RANCHERBOOTSTRAPPASSWORD="admin"
RANCHERBOOTSTRAPSKIP=true
RANCHERFINALPASSWORD="adminadminadmin"
QEMUGUESTAGENT=true
COCKPIT=true
PODMAN=true
UPDATEANDREBOOT=true
DISABLEIPV6=true