VM_NETWORK="shardy"
VMFOLDER="/var/lib/libvirt/images"
VMNAME="shardy-BaremetalHost"
CLUSTER_VMNAME="shardy-SLEMicro"
CPUS=4
MEMORY=8192
DISKSIZE=30
IMG_TO_USE="https://download.opensuse.org/pub/opensuse/distribution/leap/15.4/appliances/openSUSE-Leap-15.4-Minimal-VM.x86_64-OpenStack-Cloud.qcow2"
